<?xml version="1.0" encoding="utf-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	
  <display-name>husky</display-name>
  
  <servlet>
  	<servlet-name>loginAction</servlet-name>
  	<servlet-class>cn.com.ruin.common.action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginAction</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>hotArticleAction</servlet-name>
  	<servlet-class>cn.com.ruin.common.action.HotArticlesAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>hotArticleAction</servlet-name>
  	<url-pattern>/getHotArticles</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>articleAction</servlet-name>
  	<servlet-class>cn.com.ruin.common.action.ArticleListAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>articleAction</servlet-name>
  	<url-pattern>/getPageArticles</url-pattern>
  </servlet-mapping>
</web-app>
